<h1>Create a new list</h1>
<p>Please add details of the new list below:</p>

        <%= simple_form_for @list do |f| %>
          <%= f.input :name, placeholder: 'Drama' %>
          <%= f.submit class: 'btn btn-flat' %>
        <% end %>
